body {
  background-image: url('../img/bckgrd.jpg');
  /*background-color: #e9daac;*/
  min-width: 240px;
}

button{
  border-radius: 3vw;
  margin: 3px;
}

input, textarea{
  font-family: monospace;
  border-color: rgb(169, 169, 169);
  opacity: 1;
}

table {
  width: 100%;
}

select {
  margin: 5vw;
}

.meal-container, h1, div {
  color: #dddddd;
}

select, textarea, input {
  height: 15px !important;
}

.main-container, .meal-container{
  background-color: rgba(51, 49, 65, .65);
  border-radius: 3vw;
  text-align: center;
  margin: 10vw;
  padding: 3vw;
}
